<!-- seccion Servicios -->
<section class="py-10">
    <div class="container mx-auto">
        <div class="flex items-center justify-center mb-10">
            <h2 class="mx-6 text-2xl md:text-4xl lg:text-4xl font-extrabold text-center text-gray-900 mb-10">
                Bienvenidos a Kututu Piggy
            </h2>
        </div>
        <div class="flex items-center justify-center mb-10">
            <div class="w-full border-t border-gray-900 shadow-2xl"></div>
            <h2 class="mx-6 text-2xl md:text-4xl lg:text-4xl font-extrabold text-center text-gray-900">
                Cursos
            </h2>
            <div class="w-full border-t border-gray-900 shadow-2xl"></div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-16">
            <!-- Tarjeta 1 -->
            <div class="flex-1 min-w-[350px] max-w-[500px] bg-white rounded-lg shadow-lg overflow-hidden relative">
                <img class="w-full h-72 object-cover" src="img/img_curso_01.jpg" alt="New Arrivals" />
                <!-- Gradiente -->
                <div class="absolute inset-0 bg-gradient-to-r from-transparent to-white"></div>
                <div class="p-6 relative z-10">
                    <h2 class="text-gray-900 font-bold text-lg">Proximo..</h2>
                    <p class="text-gray-700 mb-4">Proximo..</p>
                    
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="flex-1 min-w-[350px] max-w-[500px] bg-white rounded-lg shadow-lg overflow-hidden relative">
                <img class="w-full h-72 object-cover" src="img/img_curso_02.jpg" alt="Best Sellers" />
                <!-- Gradiente -->
                <div class="absolute inset-0 bg-gradient-to-r from-transparent to-white"></div>
                <div class="p-6 relative z-10">
                    <h2 class="text-gray-900 font-bold text-lg">Proximo..</h2>
                    <p class="text-gray-700 mb-4">Proximo..</p>
                    
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="flex-1 min-w-[350px] max-w-[500px] bg-white rounded-lg shadow-lg overflow-hidden relative">
                <img class="w-full h-72 object-cover" src="img/img_curso_03.jpeg" alt="Trending" />
                <!-- Gradiente -->
                <div class="absolute inset-0 bg-gradient-to-r from-transparent to-white"></div>
                <div class="p-6 relative z-10">
                    <h2 class="text-gray-900 font-bold text-lg">Proximo..</h2>
                    <p class="text-gray-700 mb-4">Proximo..</p>
                    
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center mb-10">
            <div class="w-full border-t shadow-2xl border-gray-900"></div>
        </div>
    </div>
</section>